<div id="kaderlid{{ kaderlid.id }}" class="werkgroep--lid">
    
    {% if kaderlid.photo is not empty %}
    	<img class="werkgroep--lid--image" src="{{ kaderlid.photo|image(500, 500, "c") }}">
    {% else %}
    	<img class="werkgroep--lid--image" src="{{ 'kader/frisbeesport.jpg'|image(500, 500, "c") }}">
    {% endif %}

 	{% if kaderlid.title is not empty %}
    
    <h3 class="werkgroep--lid--name">{{ kaderlid.title }}</h3>

	{% endif %}    


 	{% if kaderlid.function is not empty %}

    <div class="werkgroep--lid--functie">{{ kaderlid.function }}</div>

	{% endif %}     
	

	{% if kaderlid.description is not empty %}
  
    <p class="werkgroep--lid--omschrijving">{{ kaderlid.description }}</p>

    {% endif %}     
	

	{% if kaderlid.email is not empty %}

    <p class="werkgroep--lid--contact">{{ kaderlid.email }}</p>

    {% endif %}     
    
</div>    