<!-- Refill cards -->
   
{% set extraclass = "" %}     
{% if afdeling == 'ultimate' and afdelingkleur %}
{% set extraclass = "ultimate inverse" %}     
{% endif %}
{% if afdeling == 'discgolf' and afdelingkleur %}
{% set extraclass = "discgolf inverse" %}     
{% endif %}
{% if afdeling == 'organisatie' and afdelingkleur %}
{% set extraclass = "organisatie inverse" %}     
{% endif %}

<a href="{{ post.link }}">
<div class="smallcard {{ extraclass }}">   
    {% if post.contenttype.name != "Berichten" %}
    
    <div class="smallcard__primary">   
    <div class="smallcard__image">   
        

        {% if post.image %}
           
           <img class="smallcard__image lazyload" data-src="{{ post.image|image(512, 232, "c") }}">
           <noscript>
               <img class="smallcard__image" src="{{ post.image|image(512, 232, "c") }}">
           </noscript>
        {% endif %}

        
        
    </div>

    {% endif %}
    
    <div class="smallcard-header">
        
        
        <h3 class="smallcard__title">{{ post.title }}</h3>

    </div>

    <div class="smallcard-copy">
    
        {% if post.teaser is not empty %}
        
        <p>{{ post.teaser }}</p>
        
        {% endif %} 

        
        
    </div>
      
        
    </div>
     
    <div class="smallcard__secondary">
          <div class="smallcard__footer">
        
            {% for tag in post.taxonomy.tags  %}
                <div class="smallcard__tag smallcard__tag--{{ tag }}">{{ tag }}</div>
            {% endfor %}
            <div class="smallcard__date">{{ post.datecreated  | localdate("%e %B, %Y") }}</div>
        </div>
        <a class="arrow-link post-link" href="{{ post.link }}">Lees verder...</a>
    </div>

   
        
        
</div>  
                          
    </a>


  <style>
         .smallcard__footer {
             height:  30px;
             
         }
         .smallcard
         {
             box-shadow: 0 2px 4px #cccccc;
         }
         .smallcard:hover .smallcard__primary {
             transform: translateY(-30px);
             transition: transform 0.4s;
    
        }
         
        .smallcard:hover .smallcard__secondary {
             transform: translateY(0);
             opacity: 1;
    
        }
         .smallcard__primary {
         padding-bottom:  30px;
         }
        .smallcard__secondary {
            transform: translateY(50%);
            height: 60px;
    width: 100%;
    position: absolute;
    top: auto;
    bottom: 0;
    opacity: 1;
    transition: transform 0.4s;
        }
    </style>             