{% setcontent topic = "topics/#{topicid}" %}

<div id="topic{{ topic.id }}" class="topic">

    <div class="topic-image">   
        
        {% if topic.image is not empty %}
        
        <img class="topic__image" src="{{ topic.image|image(500,300,"c") }}">
        
        {% endif %}

    </div>

    <div class="topic-header">
    
        {% if topic.caption is not empty %}
		
        <h3 class="topic__title">{{ topic.caption }}</h3>

        {% endif %}
        
    </div>

    <div class="topic-copy">
    
        {% if topic.description is not empty %}
        
        <p>{{ topic.description }}</p>
        
        {% endif %} 

        {% if topic.linktitle is not empty %}

			{% if topic.selectpagina != '0' %}
	            {% setcontent paginalink = "paginas/#{topic.selectpagina}" %}
	            <a class="arrow-link" href="{{ paginalink.link }}">{{ topic.linktitle }}</a>
			{% endif %}					

			{% if topic.url is not empty %}
				<a class="arrow-link" href="{{ topic.url }}">{{ topic.linktitle }}</a>
			{% endif %}					
			
		{% endif %}	
        
    </div>
    
</div>