<ul>
    <li><h3><a href="{{ paths.rooturl }}{{ menu[0].path }}">{{ menu[0].label }}</a></h3></li>

    {% for item in menu | slice(1) %}
        
    <li><a href="{{ item.link }}">{{ item.label }}</a></li>
    
    {% endfor %}  
</ul>

