{% if afdeling != 'homepage' %}

<div class="navigatie-afdelingen afdeling--background">
    <div class="navigatie-afdelingen__tabs">
        <ul>
            {% if afdeling == 'homepage' %}
            <li><a class="navigatie-afdelingen__tab navigatie-afdelingen__tab--active" href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            {% else %}
            <li><a class="navigatie-afdelingen__tab navigatie-afdelingen__tab--inactive" href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
            {% endif %}
            
            {% if afdeling == 'ultimate' %}
            <li><a class="navigatie-afdelingen__tab navigatie-afdelingen__tab--active" href="{{ path('ultimate' ) }}">Ultimate</a></li>
            {% else %}
            <li><a class="navigatie-afdelingen__tab navigatie-afdelingen__tab--inactive" href="{{ path('ultimate') }}">Ultimate</a></li>
            {% endif %}
            
            {% if afdeling == 'discgolf' %}
            <li><a class="navigatie-afdelingen__tab navigatie-afdelingen__tab--active" href="{{ path('discgolf') }}">Disc Golf</a></li>
            {% else %}
            <li><a class="navigatie-afdelingen__tab navigatie-afdelingen__tab--inactive" href="{{ path('discgolf') }}">Disc Golf</a></li>
            {% endif %}
            
            {% if afdeling == 'organisatie' %}
            <li><a class="navigatie-afdelingen__tab navigatie-afdelingen__tab--active" href="{{ path('organisatie') }}">Organisatie</a></li>
            {% else %}
            <li><a class="navigatie-afdelingen__tab navigatie-afdelingen__tab--inactive" href="{{ path('organisatie') }}">Organisatie</a></li>
            {% endif %}      
        </ul>
    </div>
</div>

{% endif %}