{% setcontent concept_pagina = "paginas/#{concept.selectpagina}" %}<div class="smallcard card--concept">           

    {% if concept.image %}
    
    <div class="smallcard-image">   
        <a href="{{ concept_pagina.link }}">
            <img class="card__image" src="{{ concept.image|image(500,300,"c") }}">
        </a>
    </div>

    {% endif %}

    <div class="smallcard-header">   
        <a><h3 class="card__title"><a class="title-link" href="{{ concept_pagina.link }}">{{ concept.title }}
        </h3></a>
    </div>
    <div class="smallcard-copy">                    
        <p class="card__text">{{ concept.description }}</p>
        <a class="card__link arrow-link" href="{{ concept_pagina.link }}">Ga naar concept...</a>
    </div>

</div>