{% extends "displaytemplate.twig" %}

{% block display_classes %}
section--centered	
{% endblock %}

{% block display_content %}


   <div class="container">
        <div class="grid section__content">

            {% if display.caption is not empty %}
			
            <div class="section__header">
            	<h2 class="section__title">{{ display.caption }}</h2>
			</div>
            
			{% endif %}

			<div class="afdeling--text">
			            
            <div class="c-partner"><img src="/cms/files/partners/logo_nocnsf.gif" /><!-- NFB logo --></div>

            <div class="c-partner"><img src="/cms/files/partners/logo_lotto.jpg" /><!-- NFB logo --></div>

            <div class="c-partner"><img src="/cms/files/partners/logo_righttoplay.png" /><!-- NFB logo --></div>

            </div>

			<div class="afdeling--text">
			            
                <div class="noombers">
                    <img style="width: 70%" src="/cms/files/partners/noombers.jpg" />
                </div>
                    
                <div class="noomberstekst-small section--text">
                        Noombers is onze partner voor competitiemanagement
                </div>
                
                <div class="noomberstekst section--text">
                    <div><b>Competitiemanagement</b></div>
                    <div><br />
                        Noombers is onze partner voor competitiemanagement:
                        <ul>
                            <li>NFB Ultimate Indoorcompetitie 2017-2018</li>
                            <li>NFB Ultimate Mixedcompetitie 2017</li>
                            <li>Eredivisie ultimate 2017</li>
                        </ul>
                        <a href ="http://www.frisbeesport.nl/cms/pagina/ultimate-competities">Naar de competities...</a>
                    </div>
                </div>

                <!-- NFB logo -->
            </div>

            {% if display.linktitle is not empty %}

                {% if display.selectpagina is not empty %}
                    {% setcontent paginalink = "paginas/#{display.selectpagina}" %}
					<a class="arrow-link" href="{{ paginalink.link }}">{{ display.linktitle }}</a> 
				{% endif %}		
            
				{% if display.url is not empty %}
					<a class="arrow-link" href="{{ display.url }}">{{ display.linktitle }}</a> 
				{% endif %}					
				
			{% endif %}	
            
        </div>
    </div>
 

{% endblock %}
