<div id="team{{ team.id }}" class="widecard">           

    <div class="widecard-image">
        
        {% if team.photo %}
        
        <img class="card__image team__image" src="{{ team.photo|image(1000, 600, "c") }}">
        {% endif %}    
        
    </div>

    <div class="widecard-header">
                        
        <h2 class="card__title">{{ team.title }}</h2>

        {% if team.omschrijving is not empty  %}

        <div class="team__subtitle">{{ team.omschrijving }}</div>

        {% endif %}

        {% if team.missie is not empty %}    
        
        <div class="team__omschrijving">{{ team.missie }}</div>

        {% endif %}
    </div>

    <div class="widecard-copy">
        
        {% if team.spelers is not empty %}

        <h3>Spelers</h3>

        <div class="team__spelers">{{ team.spelers }}</div>

        {% endif %}

        {% if team.support is not empty %}
        
        <h3>Support</h3>

        <div class="team__support">{{ team.support }}</div>
        
        {% endif %}
       
    </div>
</div>                                      
        