{% extends "sectietemplate.twig" %}

{% block sectie_classes %}
	
section--call-to-action

{% endblock %}

{% block sectie_content %}

	<div class="container">
		<div class="grid section__content">

			{% if sectie.caption is not empty %}

			<div class="section__header">
				<h2>{{ sectie.caption }}</h2>
            </div>
			
			{% endif %}
	
			
			{% if sectie.body is not empty %}
			
			{{ sectie.body }}

			{% endif %}


			{% if sectie.body_advanced is not empty %}
			
			{{ sectie.body_advanced }}

			{% endif %}


			{% if sectie.linktitle is not empty %}

                {% if sectie.selectpagina is not empty %}
                    {% setcontent paginalink = "paginas/#{sectie.selectpagina}" %}
            		<div class="btn-ghost"><a href="{{ paginalink.link }}">{{ sectie.linktitle }}</a> </div>
				{% endif %}		
            
				 
				{% if sectie.url is not empty %}
            		<div class="btn-ghost"><a  href="{{ sectie.url }}">{{ sectie.linktitle }}</a></div>
				{% endif %}					
				
			{% endif %}	

		</div>			
	</div>
{% endblock %}
