{% extends "sectietemplate.twig" %}

{% block sectie_classes %}
	
 

{% endblock %}

{% block sectie_content %}

    <div class="container">
        <div class="grid section__content">

            {% if sectie.caption  is not empty %}
			
            <div class="section__header">
                <div class="section__title">
                    <h2>{{ sectie.caption }}</h2>
                </div>
			</div>
            
			{% endif %}

             <div class="afdeling--text">
           
            {% if sectie.body is not empty %}
			
			{{ sectie.body }}

			{% endif %}


			{% if sectie.body_advanced is not empty %}
			
			{{ sectie.body_advanced.content  }}

			{% endif %}
            
            </div>
            
            {% if sectie.linktitle is not empty %}
				
				{% if sectie.selectpagina is not empty %}
                    {% setcontent paginalink = "paginas/#{sectie.selectpagina}" %}
					<a class="btn-ghost" href="{{ paginalink.link }}">{{ sectie.linktitle }}</a> 
				{% endif %}						

				{% if sectie.url is not empty %}
					<a class="arrow-link" href="{{ sectie.url }}">{{ sectie.linktitle }}</a> 
				{% endif %}					
				
			{% endif %}	
            
        </div>
    </div>
{% endblock %}
