{% extends "sectietemplate.twig" %}

{% block sectie_classes %}
	
section--call-to-action

{% endblock %}

{% block sectie_content %}

	<div class="container">
		<div class="grid section__content">

			{% if sectie.caption is not empty %}

			<div class="section__header">
				<h2>{{ sectie.caption }}</h2>
            </div>
			
			{% endif %}
	
			
			{% if sectie.body is not empty %}
			
			{{ sectie.body }}

			{% endif %}

			{% if sectie.templatefields.linktitle is not empty %}

                {% if sectie.templatefields.selectpagina is not empty %}
                    {% setcontent paginalink = "paginas/#{sectie.templatefields.selectpagina}" %}
            		<div class="btn-ghost"><a href="{{ paginalink.link }}">{{ sectie.templatefields.linktitle }}</a> </div>
				{% endif %}		
            
				 
				{% if sectie.templatefields.url is not empty %}
            		<div class="btn-ghost"><a  href="{{ sectie.templatefields.url }}">{{ sectie.templatefields.linktitle }}</a></div>
				{% endif %}					
				
			{% endif %}	

		</div>			
	</div>
{% endblock %}
