<!-- werkgroep_part.twig -->

<div id="werkgroep{{ werkgroep.id }}" id="{{ werkgroep[0] }}" class="widecard widecard--werkgroep">  

    <div class="widecard-header">
   
        
        <h2 class="widecard__title">{{ werkgroep.title }}</h2>

        {% if werkgroep.tagline is not empty %}
         
        <div class="card--subtitle">{{ werkgroep.tagline }}</div>

        {% endif %}
        

    </div>           

    <div class="widecard-copy">
           
        {% if werkgroep.description is not empty %}
        
        <p class="card__text">
            {{ werkgroep.description }}
        </p>
    
        {% endif %} 
        
        <div class="werkgroep__leden">

            {% set lidid = 0 %}
            {% for kaderlid in werkgroep.leden %}       
                 
                {% include 'werkgroep_part_kaderlid.twig' with { 'kaderlid': kaderlid, 'id': werkgroep.id ~ '-' ~ lidid } %}
                {% set lidid = lidid + 1 %}

            {% endfor %} 

         </div>
         
        

    </div>

</div>
    
<!-- /werkgroep_part.twig -->    
