<section class="section--footer">
    <div class="container">
        <div class="grid">
        
            <div class="footer-logo">
                <a href="{{ paths.root }}"><img src="{{ paths.theme }}images/logo_nfb_200.png" class="footer-logo-image"></a>
                <p>De Nederlandse Frisbee Bond is de sportbond voor de frisbeesporten in Nederland.</p>
            </div>
            
            {{ menu('ultimate', '_menu_footer.twig') }}{{ menu('discgolf', '_menu_footer.twig') }}{{ menu('organisatie', '_menu_footer.twig') }}{{ menu('spelers', '_menu_footer.twig') }}
             
        </div>
    </div>
</section>

<section class="section--footer-bottom">
    <footer>
        <div class="container">
            <div class="grid">

                <div class="copyright">&copy; Nederlandse Frisbee Bond</div>

            </div>
        </div>
    </footer>
</section>
