
<div class="container">
    <div class="grid">
        <div class="menu-wrapper">
               
            <div class="menu-fullscreen">
                
                <div class="menu-fullscreen__content">

                <h1 class="menu-fullscreen__title"><a class="title-link" href="{{ menu[0].link }}">{{ menu[0].label }}</a></h1>
                
                <ul class="menu-fullscreen__items">
                    
                    {% for item in menu | slice(1) %}
                        {% if item.top %}
                    
                        <li class="menu-fullscreen__item"><a class="title-link" href="{{ item.link }}">{{ item.label }}</a></li>
                    
                        {% endif %}
                    {% endfor %}
                    

                    {% if (menu[0].title == 'Ultimate' or menu[0].title =='Organisatie') or (menu[0].title =='Disc Golf' or menu[0].title == 'Frisbeesport') %}

                    <li class="menu-fullscreen__item">
                        <a class="title-link" href="{{ paths.rooturl }}pers">Pers</a>
                    </li>
                    <li class="menu-fullscreen__item">
                        <a class="title-link" href="{{ paths.rooturl }}contact">Contact</a>
                    </li>

                    {% endif %}


                    {% if (menu[0].title != 'Frisbeesport') %}

                    <li class="menu-fullscreen__item">
                        <a class="title-link" href="{{ paths.rooturl }}">terug naar Frisbeesport.nl</a>
                    </li>
                    
                    {% endif %}


                </ul>
            
                </div>

            </div>

        </div>
    </div>    
</div>



