<div class="footer-menu">

	{% if menu[0].link is empty %}
	
    <h3 class="footer-menu__title">{{menu[0].label}}</h3>
    
    {% else %}
	
    <h3 class="footer-menu__title"><a class="afdeling--link--inverse" href="{{ menu[0].link }}">{{ menu[0].label }}</a></h3>
	
    {% endif %}

    
    <ul class="clean-list">

        {% for item in menu | slice(1) %}
        
        <li><a class="footer-menu__item afdeling--link--inverse" href="{{ item.link }}">{{ item.label }}</a></li>

        {% endfor %}      

    </ul>
    
</div>