<div class="course card card--wide card--course">           

    {% if course.image %}
    
    <img class="card__image" src="{{ course.image|image(1000, 600, "c") }}">
    
    {% endif %}
    

    <div class="card__content">
                        
        <h2 class="card__title">{{ course.title }}</h2>
        
        {% if course.plaats %}
    
        <h3 class="card__subtitle">{{ course.plaats }}</h3>
        
        {% endif %}
        

        {% if course.description %}

        <p class="card__text">{{ course.description }}</p>

        {% endif %}

        
        {% if course.adres %}

        <p class="card__details">{{ course.adres }}</p>
        
        {% endif %}

    </div>
</div>                                      
                                       