<div id="team-{{ team.slug }}" class="card card--wide card--nt">           

    {% if team.photo %}

    <img class="card__image team__image" src="{{ team.photo|image(1000, 600, "c") }}">

    {% endif %}
                        
    <div class="card__content">
                        
        <h2 class="card__title">{{ team.title }}</h2>


        {% if team.omschrijving %}

        <div class="card__subtitle">{{ team.omschrijving }}</div>

        {% endif %}
        

        {% if team.missie %}    
        
        <p class="card__text">{{ team.missie }}</p>

        {% endif %}


        {% if team.spelers %}

        <h3>Spelers</h3>

        <p class="team__spelers">
            {{ team.spelers }}
        </p>

        {% endif %}


        {% if team.support %}
        
        <h3>Support</h3>

        <p class="team__support">
            {{ team.support }}
        </p>
        
        {% endif %}
       
    </div>
</div>                                      
        