{% extends "pagina.twig" %}

{% block extended_content %}
    {% setcontent berichten = 'berichten/latest/10' allowpaging %}
    {% set records = berichten|order('-datepublish') %}

    {% setcontent ultimatenieuws = 'nieuws' where { afdelingen: 'ultimate' } %}
    {% setcontent discgolfnieuws = 'nieuws' where { afdelingen: 'discgolf' } %}
    {% setcontent organisatienieuws = 'nieuws' where { afdelingen: 'organisatie' } %}
    {% setcontent persberichten = 'persberichten' %}

    <section class="section--cards--wide" style="float: left; width: 70%">
        <div class="container">
            <div class="grid">

            	<h2>Berichten en verslagen</h2>
                
                {% for record in records %}       

                {% include 'bericht_cardwide.twig' with { 'bericht': record } %} 

                {% endfor %}

                {{ pager() }}

            </div>
        </div>
    </section>

	<section class="section--items" style="background-color: #eeeeee; float: right; width: 30%;">
        <div class="container">
            <div class="grid">

            	<h2>Ultimate nieuws</h2>
            	
				{% for record in ultimatenieuws %}  

					<a href="{{ record.link }}">
                	<div class="item" style="margin-bottom: 5px">
                		<img style="vertical-align: top; display: inline-block" class="item__image" src="{{ record.image|image(100, 75, "c") }}">
                		<h3 style="vertical-align: top; margin: 0; display: inline-block; max-width: 250px;" class="item__title">{{ record.title }}</h3>
                	</div>
                	</a>

                {% endfor %}
			 
            	<h2>Disc Golf nieuws</h2>

				{% for record in discgolfnieuws %}   

                	<a href="{{ record.link }}">
                	<div class="item" style="margin-bottom: 5px">
                		<img style="vertical-align: top; display: inline-block" class="item__image" src="{{ record.image|image(100, 75, "c") }}">
                		<h3 style="vertical-align: top; margin: 0; display: inline-block; max-width: 250px;" class="item__title">{{ record.title }}</h3>
                	</div>
                	</a>

                {% endfor %}
			  
            	<h2>Organisatie nieuws</h2>

				{% for record in organisatienieuws %}   

                	<a href="{{ record.link }}">
                	<div class="item" style="margin-bottom: 5px">
                		<img style="vertical-align: top; display: inline-block" class="item__image" src="{{ record.image|image(100, 75, "c") }}">
                		<h3 style="vertical-align: top; margin: 0; display: inline-block; max-width: 250px;" class="item__title">{{ record.title }}</h3>
                	</div>
                	</a>

                {% endfor %}
		 
            	<h2>Persberichten</h2>
            	
				{% for record in persberichten %}       
                
                	<a href="{{ record.link }}">
                	<div class="item" style="margin-bottom: 5px">
                		<img style="vertical-align: top; display: inline-block" class="item__image" src="{{ record.image|image(100, 75, "c") }}">
                		<h3 style="vertical-align: top; margin: 0; display: inline-block; max-width: 250px;" class="item__title">{{ record.title }}</h3>
                	</div>
                	</a>

                {% endfor %}

            </div>
        </div>
	</section>
            
    <div class="clearfix" style="clear: both;">    

{% endblock %}
