<div class="card card--wide card--post">           

    {% if post.image %}

    <a href="{{ post.link }}">
        <img class="card--image" src="{{ post.image|image(1000, 400, "c") }}">
    </a>

    {% endif %}
    
    <div class="card__content">
                        
        {% if post.taxonomy.tags is not empty %}      
            {% for link, value in post.taxonomy.tags %}
                <span class="card__tag tag tag--competitie">{{ value }}</span>
            {% endfor %}
            <div class="clearfix"></div>
        {% endif %}

        <div class="card__date">{{ post.datecreated | localdate("%e %B, %Y") }}</div>
        <div class="clearfix"></div>

        <h2 class="card__title"><a class="title-link" href="{{ post.link }}">{{ post.title }}</a></h2>
        

        {% if post.lead is not empty %}

        <p class="card__text">{{ post.lead }}</p>

        {% endif %}


        {% if post.body is not empty %}
            
        <a class="card__link arrow-link post-link" href="{{ post.link }}">Lees verder...</a>

        {% endif %}
        

        <div class="card__footer">
            {% if post.selectauteurs %}

                {% setcontent author = "auteurs/#{post.selectauteurs}" %}
                <div class="card__author">Door {{ author.title }}</div>    

            {% endif %}
        </div>

    </div>
    
</div>                                      
      