<section class="section--showcase {% if sectie.achtergrond %}section--background{% endif %} {% if sectie.inverted %}section--inverse afdeling--background{% endif %}" 
         style="{% if sectie.minheight %} min-height:{{sectie.minheight}}; {% endif %} 
                {% if sectie.achtergrond %} background-image: url('{{ sectie.achtergrond|image(2000, 800, "c") }}'); {% endif %}">
	<div class="container">
		<div class="grid">
			<div class="section--showcase--double__left">

			{% setcontent topic1 = "topics/#{sectie.topic1}" %}

			{% if topic1.caption is not empty %}
				<div class="section__header">
				 	<h2 class="section__title">{{ topic1.caption }}</h2>
				</div>
			{% endif %}
	
			
			{% if topic1.description  is not empty %}
			
			{{ topic1.description  }}

			{% endif %}

 
			{% if topic1.linktitle is not empty %}

				{% if sectie.selectpagina != '0' %}
                    {% setcontent paginalink = "paginas/#{sectie.selectpagina}" %}
					<a class="arrow-link" href="{{ topic1.link }}">{{ topic1.linktitle }}</a>
				{% endif %}							

				{% if sectie.url is not empty %}
					<a class="arrow-link" href="{{ topic1.url }}">{{ topic1.linktitle }}</a> 
				{% endif %}					
				
			{% endif %}	
			
			</div>	

			<div class="section--showcase--double__right">

			{% setcontent topic2 = "topics/#{sectie.topic2}" %}

			{% if topic2.caption is not empty %}
				<div class="section__header">
				 	<h2 class="section__title">{{ topic2.caption }}</h2>
				</div>
			{% endif %}
	
			
			{% if topic2.description is not empty %}
			
			{{ topic2.description }}

			{% endif %}

 			{% if topic2.linktitle is not empty %}

				{% if topic2.selectpagina != '0' %}
                    {% setcontent paginalink = "paginas/#{topic2.selectpagina}" %}
					<a class="arrow-link" href="{{ paginalink.link }}">{{ topic2.linktitle }}</a>
				{% endif %}							

				{% if topic2.url is not empty %}
					<a class="arrow-link" href="{{ topic2.url }}">{{ topic2.linktitle }}</a> 
				{% endif %}					
				
			{% endif %}	
			
			</div>	
		</div>			
	</div>

</section>