<section class="{% if sectie.inverted %}section--inverse afdeling--background{% endif %} {% if sectie.achtergrond %}section--background{% endif %}" 
         style="{% if sectie.minheight %} min-height:{{sectie.minheight}}; {% endif %} 
                {% if sectie.achtergrond %} background-image: url('{{ sectie.achtergrond|image(2000, 800, "c") }}'); {% endif %}">
    <div class="container">
        <div class="grid">

            {% if sectie.caption  is not empty %}
			
            <div class="section__header">
                <div class="section__title">
                    <h2>{{ sectie.caption }}</h2>
                </div>
			</div>
            
			{% endif %}

            
            {% if sectie.body is not empty %}
			
			{{ sectie.body }}

			{% endif %}


			{% if sectie.body_advanced is not empty %}
			
			{{ sectie.body_advanced }}

			{% endif %}
            
            {% setcontent documenten = 'documenten' %}
            
            <ul class="documenten clean-list">

	            {% for document in documenten %}

	            	{% set match = true %}
            	    {% for link, value in sectie.taxonomy.documentcategorien %}
            			{% if value not in document.taxonomy.documentcategorien %}
							{% set match = false %} 
            			{% endif %}
        			{% endfor %}

					{% if match %}
	                	<li class="document"><a class="pdf-link" href="{{ paths.files }}{{ document.file }}">{{ document.title }}</a></li>
					{% endif %}

	            {% endfor %}

            </ul>

            {% if sectie.linktitle is not empty %}
				
				{% if sectie.selectpagina != '0' %}
                    {% setcontent paginalink = "paginas/#{sectie.selectpagina}" %}
					<a class="btn-ghost" href="{{ paginalink.link }}">{{ sectie.linktitle }}</a> 
				{% endif %}						

				{% if sectie.url is not empty %}
					<a class="arrow-link" href="{{ sectie.url }}">{{ sectie.linktitle }}</a> 
				{% endif %}					
				
			{% endif %}	
            
        </div>
    </div>
</section>