<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="{{ paths.theme }}images/logo_nfb_200.png" class="footer-logo-image">
  </div>
  <div class="footer-links">
    {{ menu('ultimate',    '_footer_menu.twig') }}
    {{ menu('discgolf',    '_footer_menu.twig') }}
    {{ menu('organisatie', '_footer_menu.twig') }}
    {{ menu('spelers',     '_footer_menu.twig') }}
  </div>

  <hr>

  <p>&copy; Nederlandse Frisbee Bond</p>

</footer>
