{# parameter authorid:  #}
{# parameter post:  #}
{# parameter afdeling: #}

{% setcontent author = "auteurs/#{record.selectauteurs}" %}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->

{# parameter title: Title of page (required) #}
{# parameter description: Description of page (optional) #}
{# parameter image: Image to include (required) #}
{# parameter url: Url to page (required) #}
{# parameter author: Author of page (optional) #}


{% include '_head.twig' with { 'title': post.title, 'image': post.image, 'url': post.link, 'description': post.lead, 'author': authorname, 'tags': post.taxonomy.tags }  %}

<body class="background afdeling--{{ afdeling }}">
  <div class="sheet">
    <article>
      

    {% include '_header.twig' with { 'afdeling': afdeling, 'image': post.image, 'title': post.title, 'fotograaf': post.fotograaf }  %}      
      
    <div class="s-post" >
        <div class="container container--post">
            <div class="grid">
      <footer class="entry-meta">
        
        {% if author.photo is not empty %}
          <img src="{{ author.photo|image(500, 500, "c") }}" class="bio-photo" alt="{{ author.title }} bio photo">
        {% endif %}

        {% if author.title is not empty %}
          <span class="author vcard">Door <span class="fn">{{ author.title }}{% if post.auteur is not empty %} en {{ post.auteur }}{% endif %}</span></span>
        {% elseif post.auteur is not empty %}          
          <span class="author vcard">Door <span class="fn">{{ post.auteur }}</span></span>
        {% endif %}

        <span class="entry-date date published">
            <time datetime="{{ post.datecreated | date("Y-m-d\TH:i:sP") }}">
            <i class="fa fa-calendar-o"></i> {{ post.datecreated | localdate("%e %B, %Y") }}</time>
        </span>
        
        {# parameter tags: array of tags #} 
        {# parameter url: url of page #}
        {# parameter twitterauthor: twitter account of author #}

        {# todo: twitter author #}
        {# todo: url #}
        {# todo: check tags #}
      
        {% include 'social-share.twig' with { 'tags': post.taxonomy.tags , 'title': post.title, 'url': paths.hosturl ~ post.link } %}
        
      </footer>
    
      <div class="entry-content afdeling--text">

<!--
        {% if post.taxonomy.tags is not empty %}      
            <span class="tag">
                {% for link, value in post.taxonomy.tags %}
                    {{ value }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </span>
            <div class="clearfix"></div>
        {% endif %}
-->
       

        <p class="post__lead">{{ post.lead }}</p>

        {{ post.body }}
            {% if post.video %}
                <div class="video--page">
                    {{ post.video.html }}
                </div>
            {% endif %}
      </div>
    </div>
  </article>

  {% if post.contenttype.name == 'Nieuws' %}
    {% if afdeling == 'ultimate' %}
      {% include 'sectie.twig' with { 'sectieid': 30 } %}
    {% elseif afdeling == 'discgolf' %}
      {% include 'sectie.twig' with { 'sectieid': 31 } %}
    {% endif %}
  {% endif %}

  {% if post.contenttype.name == 'Nieuws' %}
  <section class="section--cards--small section--nieuws ">
    <div class="container">
        <div class="section__content">
            <div class="section__header">
                <div class="section__title section__title--centered"><h2>Recent gerelateerd nieuws</h2></div>
            </div>
        
         
<div class="smallcards">
            {% setcontent nieuwsberichten = 'nieuws' where { afdelingen: afdeling, id: "!#{post.id}" } %}

            {% for nieuwsbericht in nieuwsberichten|slice(0, 3) %}       
                {% include 'nieuwsbericht_card.twig' with { 'nieuwsbericht': nieuwsbericht } %} 
            {% endfor %}</div>
        </div>
    </div>
   </section>
  {% endif %}

  {% if post.contenttype.name == 'Persberichten' %}
  <section class="section--cards--wide section--nieuws ">
    <div class="container">
        <div class="section__content">
            <div class="section__header">
                <div class="section__title section__title--centered"><h2>Recente persberichten</h2></div>
            </div>
        
            
                <div class="smallcards">
            {% setcontent persberichten = 'persberichten' where { id: "!#{post.id}" } %}

            {% for persbericht in persberichten|slice(0, 3) %}       
                {% include 'persbericht_card.twig' with { 'persbericht': persbericht } %} 
            {% endfor %}</div>
                </div>
        
    </div>
   </section>
  {% endif %}

{% if post.contenttype.name == 'Berichten' %}
  <section class="section--cards--small section--nieuws ">
    <div class="container">
        <div class="section__content">
            <div class="section__header">
                <div class="section__title section__title--centered"><h2>Recente berichten</h2></div>
            </div>
        
          <div class="smallcards">
            {% setcontent berichten = 'berichten' where { afdelingen: afdeling, id: "!#{post.id}" } %}

            {% for bericht in berichten|slice(0, 3) %}       
                {% include 'bericht_card.twig' with { 'bericht': bericht } %} 
            {% endfor %}
          </div>
        </div>
    </div>
   </section>
  {% endif %}

  {% include '_footer.twig' %}
  {% include '_scripts.twig' %}
  </div>

  {% include '_piwik.twig' %}
</body>
</html>