<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->


{% set afdeling = "" %}
{% set style = "" %}

{% for tag in pagina.taxonomy.afdelingen %}
	{% set afdeling = tag %}
{% endfor %}

{% if afdeling == "ultimate" %}
	{% set style = 'ultimate' %}
{% elseif afdeling == "discgolf" %}
	{% set style = 'discgolf' %}
{% else %}
	{% set style = 'organisatie' %}
{% endif %}
 
{% set lead = searchresult.no_of_results ~ ' resultaten gevonden voor \"' ~ search ~ '\".' %}

{% include '_head.twig' with { 'title': 'Zoekresultaten', 'description': 'Zoekresultaten' } %}

<body class="background section-{{ style }} afdeling--{{ style }}">
    <div class="sheet">
        
    {% include '_browser-upgrade.twig' %}    
    
    <article>

    {% include '_header.twig' with { 'afdeling': afdeling, 'title': 'Zoekresultaten', 'header': lead } %}


    {% setcontent highlights = 'highlights' %}

    {% for highlight in highlights %}
        {% if pagina.id in highlight.selectpagina %}
            <div class="separator"></div>
            {% include 'highlight.twig' with { 'highlight': highlight } %}
            <div class="separator"></div>
        {% endif %}
    {% endfor %}

	 
    <section class="section--text afdeling--text">
      
        <div class="container">
            <div class="grid">
         
             {% setcontent pages = 'paginas' %}

            <ol class="searchresults">

{% for record in records %}
    
        {% if record.contenttype.slug == 'secties' %}
            {% set pagelink = "" %}   
            {% set pageafdeling = "" %}   
            {% for page in pages %}   
                {% if page.sectie1 == record.id %}{% set pagelink = page.link %}{% set pageafdeling = page.taxonomy.afdelingen %}{% endif %}
                {% if page.sectie2 == record.id %}{% set pagelink = page.link %}{% set pageafdeling = page.taxonomy.afdelingen %}{% endif %}
                {% if page.sectie3 == record.id %}{% set pagelink = page.link %}{% set pageafdeling = page.taxonomy.afdelingen %}{% endif %}
                {% if page.sectie4 == record.id %}{% set pagelink = page.link %}{% set pageafdeling = page.taxonomy.afdelingen %}{% endif %}
                {% if page.sectie5 == record.id %}{% set pagelink = page.link %}{% set pageafdeling = page.taxonomy.afdelingen %}{% endif %}
                {% if page.sectie6 == record.id %}{% set pagelink = page.link %}{% set pageafdeling = page.taxonomy.afdelingen %}{% endif %}
            {% endfor %}
            {% if pagelink != "" %}
                <li>
                    <a href="{{ pagelink }}#sectie{{ record.id }}">
                        <div class="searchresult__title">{{ record.caption }}</div></a>
                        <div class="searchresult__type">sectie</div>
                        <div class="searchresult__afdeling">{{ pageafdeling }}</div>
                    
                </li>
            {% endif %}
        {% elseif record.contenttype.slug == 'kader' %}
            <li>
                <a href="{{ paths.rooturl }}pagina/organisatie-kader/#kaderlid{{ record.id }}">
                    <div class="searchresult__title">{{ record.title }}</div></a>
                    <div class="searchresult__type">kaderlid</div>
                    <div class="searchresult__afdeling">organisatie</div>
                
            </li>
        {% elseif record.contenttype.slug == 'werkgroepen' %}
            <li>
                <a href="{{ paths.rooturl }}pagina/organisatie-kader/#werkgroep{{ record.id }}">
                    <div class="searchresult__title">{{ record.title }}</div></a>
                    <div class="searchresult__type">werkgroep</div>
                    <div class="searchresult__afdeling">organisatie</div>
                
            </li>
       {% elseif record.contenttype.slug == 'courses' %}
            <li>
                <a href="{{ paths.rooturl }}pagina/discgolf-courses/#course{{ record.id }}">
                    <div class="searchresult__title">{{ record.title }}</div></a>
                    <div class="searchresult__type">course</div>
                    <div class="searchresult__afdeling">discgolf</div>
                
            </li>
        {% elseif record.contenttype.slug == 'nationaleteams' %}
            <li>
                <a href="{{ paths.rooturl }}pagina/ultimate-nationale-teams/#team{{ record.id }}">
                    <div class="searchresult__title">{{ record.title }}</div></a>
                    <div class="searchresult__type">nationaal team</div>
                    <div class="searchresult__afdeling">ultimate</div>
                
            </li>
        {% elseif record.contenttype.slug == 'verenigingen' %}
                
            {% if 'ultimate-volwassenen' in record.taxonomy.verenigingsaanbod or
                  'ultimate-jeugd' in record.taxonomy.verenigingsaanbod or
                  'ultimate-studenten' in record.taxonomy.verenigingsaanbod %}
                
                <li>
                    <a href="{{ paths.rooturl }}pagina/ultimate-verenigingen/#vereniging{{ record.id }}">
                        <div class="searchresult__title">{{ record.title }}</div></a>
                        <div class="searchresult__type">vereniging</div>
                        <div class="searchresult__afdeling">ultimate</div>

                </li>
                
            {% endif %}

            {% if 'discgolf-volwassenen' in record.taxonomy.verenigingsaanbod or
                  'discgolf-jeugd' in record.taxonomy.verenigingsaanbod %}
                
            <li>
                <a href="{{ paths.rooturl }}pagina/discgolf-verenigingen/#vereniging{{ record.id }}">
                    <div class="searchresult__title">{{ record.title }}</div></a>
                    <div class="searchresult__type">vereniging</div>
                    <div class="searchresult__afdeling">discgolf</div>
                
            </li>
                
            {% endif %}

        {% elseif record.contenttype.slug == 'documenten' %}
             <li>
                <a href="{{ paths.rooturl }}pagina/organisatie-documenten/#document{{ record.id }}">
                    <div class="searchresult__title">{{ record.title }}</div></a>
                    <div class="searchresult__type">document</div>
                    <div class="searchresult__afdeling"></div>
                
            </li>
        {% elseif record.contenttype.slug == 'aanbod' %}
            <li>
                <a href="{{ paths.rooturl }}pagina/organisatie-aanbod/#aanbod{{ record.id }}">
                    <div class="searchresult__title">{{ record.title }}</div></a>
                    <div class="searchresult__type">concept</div>
                    <div class="searchresult__afdeling">organisatie</div>
                
            </li>                
        {% else %}
            <li>
                <a href="{{ paths.baseurl }}{{ record.link }}">
                    <div class="searchresult__title">{{ record.title }}</div></a>
                    <div class="searchresult__type">pagina</div>
                    <div class="searchresult__afdeling">{{ record.taxonomy.afdelingen.value }}</div>
                
            </li>  
        <!-- {{ record.searchresultweight }} - this returns the index-score or
        weight of the result, an indication of the relevance }} -->
        {% endif %}
    
{% endfor %}
</ol>
    	</div> 
	   </div>
    </section>

	 
 
 

    </article>
     
    {% include '_footer.twig' %}
    {% include '_scripts.twig' %}

    </div>

    {% include '_piwik.twig' %}
</body>
</html>
